<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.lsfile.file.dao.FileDao">

    <insert id="insertRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.isoftstone.lsfile.file.dao.FileDao">
        insert into fileinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="keyId != null">
                key_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="hostName != null">
                host_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="KeyId != null">
                #{KeyId,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=BIGINT},
            </if>
            <if test="hostName != null">
                #{hostName,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <select id="getFileInfoById" parameterType="long" resultType="com.isoftstone.lsfile.file.bean.FileInfo">
        select
            t1.id          as id,
            t1.key_id    as keyid,
            t1.real_name   as realname,
            t1.file_path   as filepath,
            t1.create_user as createuser,
            t1.create_time as createtime
        from ls_file t1
        where t1.id = #{id}
    </select>

</mapper>